<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Action Sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-canvas">
    <ion-button expand="block" (click)="show_action_sheet_handler()">Show Action Sheet</ion-button>
  </div>
</ion-content>