.colors-title {
    margin-top: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: #000;
    font-weight: 800;
    font-size: 20px;
}

.color-btn {
    text-align: center;

    .btn {
        width: 80%;
    }
}