<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end" [color]="currentColor">22</ion-badge>
  </ion-item>

  <div class="colors-title">
    Pick Up Colors
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="color-btn" *ngFor="let item of colorsArray">
        <ion-button class="btn" [color]="item" size="small" (click)="switch_color_handler(item)">{{item}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>