<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- tas-Home -->
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <!-- tas-Home -->

    <!-- tabs-Setting -->
    <ion-tab-button tab="tab2">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
    <!-- tabs-Setting -->

  </ion-tab-bar>

</ion-tabs>