<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Dark Theme</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="darkTheme" (ionChange)="switch_theme_handler()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>