<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Action Sheet -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Action Sheet</ion-label>
    </ion-item-divider>

    <ion-item detail (click)="goto_action_sheet_page_handler()">
      <ion-label>ion-action-sheet</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Action Sheet -->

  <!-- Alert -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Alert</ion-label>
    </ion-item-divider>

    <ion-item detail (click)="goto_alert_page_handler()">
      <ion-label>ion-alert</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Alert -->

  <!-- Badge -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Badge</ion-label>
    </ion-item-divider>

    <ion-item detail (click)="goto_badge_page_handler()">
      <ion-label>ion-badge</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Badge -->

  <!-- Button -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Button</ion-label>
    </ion-item-divider>

    <ion-item detail (click)="goto_button_page_handler()">
      <ion-label>ion-button</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Button -->

  <!-- Card -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Card</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-card</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Card -->

  <!-- Checkbox -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Checkbox</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-checkbox</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Checkbox -->

  <!-- Chip -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Chip</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-chip</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Checkbox -->

  <!-- Content -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Content</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-content</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Checkbox -->

  <!-- Date & Time Pickers -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Date & Time Pickers</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-datetime</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-picker</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Date & Time Pickers -->

  <!-- Floating Action Button -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Floating Action Button</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-fab</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Floating Action Button -->

  <!-- Grid -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Grid</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-grid</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Grid -->

  <!-- Infinite Scroll -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Infinite Scroll</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-infinite-scroll</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Infinite Scroll -->

  <!-- Input -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Input</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-input</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-textarea</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Input -->

  <!-- Item -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Item</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-item</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-item-sliding</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-label</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-note</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Item -->

  <!-- List -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">List</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-list</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-virtual-scroll</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- List -->

  <!-- Media -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Media</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-avatar</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-img</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-thumbnail</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Media -->

  <!-- Menu -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Menu</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-menu</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Menu -->

  <!-- Modal -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Modal</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-modal</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-backdrop</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Menu -->

  <!-- Navigation -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Navigation</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-nav</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Navigation -->

  <!-- Popover -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Popover</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-popover</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Popover -->

  <!-- Progress Indicators -->
  <ion-item-divider>
    <ion-label class="title">Progress Indicators</ion-label>
  </ion-item-divider>

  <ion-item detail>
    <ion-label>ion-loading</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-label>ion-progress-bar</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-label>ion-skeleton-text</ion-label>
  </ion-item>

  <ion-item detail>
    <ion-label>ion-spinner</ion-label>
  </ion-item>
  <!-- Progress Indicators -->

  <!-- Radio -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Radio</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-radio</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-radio-group</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Radio -->

  <!-- Range -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Range</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-range</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Range -->

  <!-- Refresher -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Refresher</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-refresher</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Refresher -->

  <!-- Reorder -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Reorder</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-reorder</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Reorder -->

  <!-- Searchbar -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Searchbar</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-searchbar</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Searchbar -->

  <!-- Segment -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Segment</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-segment</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Segment -->

  <!-- Select -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Select</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-select</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Select -->

  <!-- Slides -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Slides</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-slide</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Slides -->

  <!-- Tabs -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Tabs</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-tabs</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Tabs -->

  <!-- Toast -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Toast</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-toast</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Toast -->

  <!-- Toggle -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Toggle</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-toggle</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Toggle -->

  <!-- Toolbar -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Toolbar</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-toolbar</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-header</ion-label>
    </ion-item>

    <ion-item detail>
      <ion-label>ion-footer</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Toolbar -->

  <!-- Typography -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="title">Typography</ion-label>
    </ion-item-divider>

    <ion-item detail>
      <ion-label>ion-text</ion-label>
    </ion-item>
  </ion-item-group>
  <!-- Typography -->

</ion-content>