<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-canvas">
    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_handler()">Present Alert</ion-button>
    </div>

    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_multiple_buttons_handler()">
        Present Alert Multiple Buttons
      </ion-button>
    </div>

    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_confirm()">
        Present Alert Confirm
      </ion-button>
    </div>

    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_prompt()">
        Present Alert Prompt
      </ion-button>
    </div>

    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_radio()">
        Present Alert Radion
      </ion-button>
    </div>

    <div class="alert-button">
      <ion-button expand="block" (click)="present_alert_checkbox()">
        Present Alert Checkbox
      </ion-button>
    </div>
  </div>
</ion-content>