.title {
    height: 30px;
    line-height: 30px;
    font-weight: 800;
}

.btn {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #50c8ff;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}